name: Cloud Native Platform Full CI/CD

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  terraform-platform:
    uses: ./.github/workflows/terraform-platform.yml

  terraform-workload:
    needs: terraform-platform
    uses: ./.github/workflows/terraform-workload.yml

  build-and-push:
    needs: terraform-workload
    uses: ./.github/workflows/build-push-ecr.yml

  helm-deploy:
    needs: build-and-push
    uses: ./.github/workflows/helm-deploy.yml
