name: Terraform Platform

on:
  workflow_call:

jobs:
  platform:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

          
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        

      - name: Terraform Init
        working-directory: terraform/platform
        run: terraform init

      - name: Terraform Apply
        working-directory: terraform/platform
        run: terraform apply -auto-approve
